@import ../../sass_vars

.klatsch-medium-profile
  .profile-basics-username
    font-weight: 800
    font-size: 2rem
  .profile-basics-details
  .message-button
    margin-top: 10px
    @include med
      margin-bottom: 10px
    @include small
      margin-bottom: 10px
  .klatsch-medium-profile-image
    border-radius: 10px