@import ../../../sass_vars

.klatsch-edit-profile-basic-content
  .basic-content-form
    max-width: 950px
    margin-top: 15px
    margin-bottom: 20px
  .main-profile-picture
    margin-top: 1rem
  .edit-profile-details-column
    @include large
      margin-right: 1rem
      border-right: 1px solid $border-color
      padding-right: 2rem
    @include med
      border-bottom: 1px solid $border-color
      padding-bottom: 1rem
      margin-bottom: 1rem
    @include small
      border-bottom: 1px solid $border-color
      padding-bottom: 1rem
      margin-bottom: 1rem
  .add-child-row
    margin-top: 10px
  fieldset
    padding: 10px
    @extend .input-border
    border-radius: 7px
  .submit-button
    margin-right: 5px

