klatsch-user-bar
  float: right
  margin-right: 5px
  .profile-picture
    height: 35px
    width: 35px
    border-radius: 50%
    display: block
  .nickname
    margin-right: 5px
  :hover klatsch-user-menu
    .user-menu
      visibility: visible
