klatsch-multi-select
  display: block
  .fa-check-square:before
    color: green
    margin-left: -15px
    padding-right: 5px
  .unselected
    margin-left: 3px
  .dropdown-menu
    min-width: 200px
    .dropdown-item
      border: 0
      background-color: transparent
      width: 100%
      text-align: left
      margin-left: 15px
      padding: 7px 7px
      outline: none
