klatsch-home-page
  .home-bg
    width: 100%
    background-size: cover
    background: url(/src/img/mothers_playdate.jpg) no-repeat fixed top center
    height: calc(100vh - 197px)
    min-height: 600px
    overflow: hidden
    form
      width: 100%
      background-color: #fff
      .login-container
        width: 100%
        margin-top: 0
        .container
          display: flex
          justify-content: space-around
          min-height: 65px
          padding-top: 10px
          .home-logo
            margin-top: -9px
            margin-left: -60px
            height: 40px
            min-width: 255px
            background: no-repeat url(/src/img/klatsch.png)
            background-size: 130px 50px
