klatsch-home-page
  .home-bg
    width: 100%
    background-size: cover
    background: url(/src/img/mothers_playdate.jpg) no-repeat fixed top center
    height: calc(100vh - 197px)
    min-height: 600px
    overflow: hidden
    .container-background
      background-color: #fff
      .container
        display: flex
        justify-content: space-around
        .home-logo
          margin-top: 10px
          margin-left: 5px
          height: 40px
          width: 195px
          background: no-repeat url(/src/img/klatsch.png)
          background-size: 130px 50px
