@import ../../../sass_vars

.klatsch-profile-header
  .profile-actions-container
    margin-top: 10px
  .klatsch-medium-profile
    .profile-basics-username
      color: $sea-white
    .profile-basics-details
      color: $sea-white
    .family-details
      display: none