@import ../../../sass_vars

.klatsch-profile-header
  .klatsch-profile-header-actions
    @include small
      position: absolute
      text-align: right
    @include med
      position: absolute
      text-align: right