form
  float: left
  .row
    margin-top: -10px
    label
      color: white
    #zip-code
      max-width: 180px
    @media screen and (max-width: $break-small)
      .continue-button, klatsch-multi-select > .btn-group, klatsch-multi-select > .btn-group > button, #zip-code
        width: 100%
        max-width: 100%
      .login-container
        display: flex
        align-content: center
        flex-direction: column
