@import "../../../../sass_vars"
.klatsch-right-nav
  .fa
    margin-right: 25px
    color: $sea-coralish
    font-size: 20px
  .user-profile-avatar
      background-color: lightgray
      min-width: 25px
      text-align: center
      min-height: 25px
      padding-top: 3px
      position: relative
      top: -3px
