@import ../../../../sass_vars

.klatsch-profile-header-summary
  background-color: $sea-whitish
  border-radius: 10px
  padding: 20px
  @extend .border
  .summary-title
    color: $sea-coralish
    font-weight: 700
  .family-interests
    ul
      padding-left: 16px
      li
        list-style-type: circle