@import ../../../../sass_vars

.favorite-entry
  .delete-favorite
    position: absolute
    right: 0
  .user-mini-profile
    @include med
      .userinfo
        display: none
    @include small
      .userinfo
        display: none