klatsch-quick-picks
  display: block
  .quick-pick-bar
    display: inline-block
    .quick-pick
      height: 9rem
      width: 16rem
      margin-right: 1rem
      border-radius: 15%
  button
    display: inline-block
