@import "../../../sass_vars"

.footer-container
  background-color: $sea-greenish
  padding-top: 10px
  padding-bottom: 50px
  width: 101%
  .signup-footer
    padding-top: 20px
    margin-top: 40px
    max-width: 90%
    margin-left: auto
    margin-right: auto
    border-top: 1px solid snow
    .footer
      .footer-nav
        margin-top: 30px
        list-style: none
        display: flex
        justify-content: space-around
    .footer-copyright
      margin-top: 30px
      padding-bottom: 40px
      color: snow
      font-size: 14px