@import ../../../sass_vars

.action-center
  padding-top: 50px
  padding-bottom: 50px
  .action-messages
    overflow-y: scroll
    max-height: 200px
  .action-question-teaser
    padding-left: 40px
    @include small
      padding-top: 25px
  .action-center-title
    display: inline-block
  .action-center-separator
    border-right: 1px solid $border-color