@import ../../../../sass_vars

.insight-center-message
  .time-on-profile
    float: left
    height: 50px
    line-height: 50px
    @include small
      text-align: center
      width: 100%
      background-color: $sea-greenish
      color: white
      margin-bottom: 5px