klatsch-user-menu
  font-weight: bold
  margin-bottom: 10px
  width: 100%
  position: absolute
  z-index: 5
  .user-menu
    visibility: hidden
    list-style: none
    transition: all 1s
    li
      float: left
      position: relative
      // TODO: We can do better than this
      margin-top: 10px
      margin-left: -95px
